


.row2{
	background-color:red;
	display:inline-block;
	
}

.row2 div{
	display:inline-block;
	background-color:red;
}


.row div {
	display:inline-block;
width:1em;
height:1em;	
}

.row2  div {
	width:1em; 
	height:1em;
}

.highlight {
	background-color:blue;
}

