

div {
	margin:0;
	padding:0;
	line-height:0;
}
.row2{
/*	background-color:red;
*/	display:inline-block;
	
}

.row2 div{
	display:inline-block;
/*	background-color:red;
*/}


.row div {
	display:inline-block;
width:4em;
height:4em;	
}

.row2  div {
	width:4em; 
	height:4em;
}

.highlight {
	background-color:blue;
}

.but {
	border-radius: 5px; 
	background-color:green;
	width:6em;
	height:2em;
	
}

.but:hover {
	cursor:pointer;
	width:7em; 
	opacity:.7;
	height:3em;
}













