/*
body { line-height:0;}
.container { width:800px; margin: 40px auto 0 auto;}
.square { background-color:#E8E8E8; display:inline-block;}
h1, p { text-align:center;}
.grid {background-color: black;}
button > a { text-decoration:none; font-color:black;}*/


# {font-family: Arial; }
header {text-align:center; }
div { margin:0; padding:0;}
button { background: #34495e; border:1px solid #404040;
	border-radius:3px; color:white; } 
.container{ width: 1000px; margin: 0 auto; }
.navbar { margin:0 auto; width: 960px; text-align: center; }
.wrap { margin: 10px auto; width: 960; }
.square { float: left; border: 1px solid black; background: #34495e; }